/*  TILESMANAGE STYLES
//=======================================================*/

.bg-blue {
    color: white;
    transition: box-shadow 1s;
}
.bg-blue:hover {
    color: white;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}
