/*  TILESMANAGE STYLES
//=======================================================*/

* {
    box-sizing: border-box;
  }

#list {
    overflow: auto;
}

#listItem {
    overflow: auto;
    height: 50px;
    padding: 0 15px !important;
    font-family: 'Rubik', sans-serif;
    margin: 15px;
    line-height: 50px;
}

#approve {
    line-height: 1;
    padding: 5px;
    width: 100px;
    height: 40px;
    background-color: lightgreen;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    border-radius: 5px;
    float: right;
}

#approve:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

#deny {
    line-height: 1;
    padding: 5px;
    width: 100px;
    height: 40px;
    background-color: rgba(255, 0, 0, .6);
    color: black;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    border-radius: 5px;
    align-content: right;
    float: right;
}

#deny:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

