/* 
brand colors 
purple:   #32064a   rgba(50, 6, 74, 1)
orange:   #e56b1f   rgba(229, 107, 31, 1)
yellow:   #fcd02c   rgba(252, 208, 44, 1)
red:      #e42c6a   rgba(228, 44, 106, 1)


font-family: 'Teko', sans-serif;
font-family: 'Open Sans', monospace;
*/
@font-face {
  font-family: 'phosphate';
  src:url('./fonts/phosphate.woff') format('woff'),
      url('./fonts/phosphate.svg#ARB-218-Neon-Blunt-MAR-50-Normal') format('svg'),
      url('./fonts/phosphate.eot'),
      url('./fonts/phosphate.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Teko:600&display=swap');

:root {
  --brand-red: #e42c6a;
  --brand-purple: #32064a;
  --brand-orange:  #e56b1f;
  --brand-yellow: #fcd02c;
}

body {
  background-image: url('../src/images/pageBG-lg.jpg');
  background-color: var(--brand-purple);
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'Open Sans', monospace;
}
h1, h2, h3, h4, h5 {
  font-family: 'Teko', sans-serif;
}

.phosphate {
  font-family: phosphate;
  line-height: 1;
  padding-top: 12px;
}

/************ text colors ***************/

.text-brand-red {
  color: var(--brand-red);
}
.text-brand-purple {
  color: var(--brand-purple);
}
.text-brand-orange {
  color: var(--brand-orange);
}
.text-brand-yellow {
  color: var(--brand-yellow);
}

/************ background colors ***************/
.bg-brand-red, 
.hover_bg-brand-red:hover {
  background-color: var(--brand-red);
}
.bg-brand-purple, 
.hover_bg-brand-purple:hover  {
  background-color: var(--brand-purple);
}
.bg-brand-orange, 
.hover_bg-brand-orange:hover  {
  background-color: var(--brand-orange);
}
.bg-brand-yellow, 
.hover_bg-brand-yellow:hover  {
  background-color: var(--brand-yellow);
}



.btn-double {
  position: relative;
  text-transform: uppercase;
}
.btn-double > div {
  top: -2px; 
  left: -2px; 
  border: 1px solid var(--brand-red);
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.btn-double > div + div {
  top: 1px; 
  left: 1px; 
  border: 1px solid var(--brand-red);
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
}

.btn-double-secondary {
  position: relative;
  text-transform: uppercase;
}
.btn-double-secondary > div {
  top: -2px; 
  left: -2px; 
  border: 1px solid var(--brand-orange);
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.btn-double-secondary > div + div {
  top: 1px; 
  left: 1px;
  border: 1px solid var(--brand-orange);
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
}