/* 
brand colors 
purple:   #32064a   rgba(50, 6, 74, 1)
orange:   #e56b1f   rgba(229, 107, 31, 1)
yellow:   #fcd02c   rgba(252, 208, 44, 1)
red:      #e42c6a   rgba(228, 44, 106, 1)
*/

body {
  background-image: url('../src/images/pageBG-lg.jpg');
  background-color: #32064a;
  background-position: top center;
  background-repeat: no-repeat;
}