.confetti-splash {
    z-index: 0;
}
.logo-splash {
    margin: auto;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.char {
    display: inline-block;
    text-align: center;
}

.logo-splash img {
    width: 20%;
}

:root {
    --start: 1s;
    --drop-duration: 1.1s;
}

.letter-f  {
    -webkit-animation: bounce-in-top var(--drop-duration) var(--start) both;
    animation: bounce-in-top var(--drop-duration) var(--start) both;
}

.letter-i  {
    -webkit-animation: bounce-in-top var(--drop-duration) calc(var(--start) + 0.5s) both;
    animation: bounce-in-top var(--drop-duration) calc(var(--start) + 0.5s) both;
}

.letter-n  {
    -webkit-animation: bounce-in-top var(--drop-duration) calc(var(--start) + 1s) both;
    animation: bounce-in-top var(--drop-duration) calc(var(--start) + 1s) both;
}

.letter-d  {
    -webkit-animation: bounce-in-top var(--drop-duration) calc(var(--start) + 1.5s) both;
    animation: bounce-in-top var(--drop-duration) calc(var(--start) + 1.5s) both;
}

.letter-o  {
    -webkit-animation: bounce-in-top var(--drop-duration) calc(var(--start) + 2s) both;
    animation: bounce-in-top var(--drop-duration) calc(var(--start) + 2s) both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


@media screen and (max-width: 640px) {
    .logo-splash {
        width: 100%;
    }
}