/*  TILEBIG STYLES
//=======================================================*/
.board-inner {
  position: relative;
}
.tileBig {
  background-color: rgba(255,255,255,1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1px;
  left: 1px;
  width: 90%;
  margin: 5%;
  height: 90%;
  z-index: 10;
  overflow: hidden;
}

.tileBigText {
  font-size: 6em;
}
.clicked-enter {
  opacity: 0;
}
.clicked-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.clicked-exit {
  opacity: 1;
}
.clicked-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}