/* FORM STYLES
//=======================================================*/
.form-control {
    margin-bottom: 10px;
    padding: 10px;
}

.edit-btn {
    background-color: rgba(252, 207, 44, .8);
    color: var(--brand-purple);
    box-shadow: 3px 3px 3px rgba(50, 6, 74, 0.5);
  }
.edit-btn:hover {
    box-shadow: none;
}