/* .page-enter {
  transform: translate(100%);
}
.page-enter.page-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.page-leave {
  transform: translate(0%);
}
.page-leave.page-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
} */

.trans-white {
  background-color: rgba(255, 255, 255, 0.8);
}