.page-enter {
  transform: translate(100%);
}
.page-enter.page-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}
.page-leave {
  transform: translate(0%);
}
.page-leave, .page-leave-active {
  transform: translate(-100%);
  transition: transform 500ms ease-in-out;
}

.background {
  background-color: rgba(255,255,255,.8);
  width: 400px;
}

.start-text, .info-text, .login-text {
  color: #e01d60;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  text-shadow: 2px 2px #FECE30;
}

.start-text {
  font-size: 3rem;
}

.login-text {
  font-size: 1.5rem;
  line-height: 1;
  padding: 5px;
}

.back {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

.back:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

.nav-toggle {
  width: 200px;
}

.fa-facebook-f {
  color: #4267B2;
  text-shadow: none;
  margin-right: 12px;
}

.fa-google {
  color: #4185F4;
  text-shadow: none;
  margin-right: 12px;
}

.guest {
  font-size: 1rem;
}