.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.background {
  background-color: rgba(255,255,255,.8);
}
.login-box {
  min-height: 400px;
}
.login-box-md {
  min-height: 200px;
}

.start-text, .info-text, .login-text {
  color: #e01d60;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  text-shadow: 2px 2px #FECE30;
}

.start-text {
  font-size: 3rem;
}

.login-text {
  font-size: 1.5rem;
}

.nav-toggle {
  width: 200px;
}

.fa-facebook-f {
  color: #4267B2;
  text-shadow: none;
  margin-right: 12px;
}

.fa-google {
  color: #4185F4;
  text-shadow: none;
  margin-right: 12px;
}

.guest {
  font-size: 1rem;
}

