.fade-enter {
  opacity: 0.01;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.background {
  background-color: rgba(255,255,255,.8);
}
.login-box {
  min-height: 400px;
}
.login-box-md {
  min-height: 200px;
}


.login-box h1 {
  color: var(--brand-red);
  text-transform: uppercase;
}

.login-link {
  color: var(--brand-orange);
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px var(--brand-yellow);
}
.guest-link {
  color: var(--brand-orange);
  display: inline;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 0 var(--brand-yellow);
}

.login-link:hover, .guest-link:hover {
  background-color: white;
  text-shadow: none;
}

.nav-toggle {
  width: 200px;
}

.fa-facebook-f {
  color: #4267B2;
  text-shadow: none;
  margin-right: 12px;
}

.fa-google {
  color: #4185F4;
  text-shadow: none;
  margin-right: 12px;
}

.how-to {
  color: var(--brand-purple);
}