.page-wrapper-enter {
  opacity: 0.01;
}
.page-wrapper-enter.page-wrapper-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.page-wrapper-leave {
  opacity: 1;
}
.page-wrapper-leave.page-wrapper-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.background {
  background-color: rgba(255,255,255,.8);
}


.login-box h1 {
  color: var(--brand-red);
  text-transform: uppercase;
}

.login-link {
  color: var(--brand-orange);
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px var(--brand-yellow);
}
.guest-link {
  color: var(--brand-orange);
  display: inline;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 2px 2px 0 var(--brand-yellow);
}

.login-link:hover, .guest-link:hover {
  background-color: var(--brand-yellow);
  text-shadow: none;
}

.nav-toggle {
  width: 200px;
}

.fa-facebook-f {
  color: #4267B2;
  text-shadow: none;
  margin-right: 12px;
}

.fa-google {
  color: #4185F4;
  text-shadow: none;
  margin-right: 12px;
}

.how-to {
  color: var(--brand-purple);
}

.confetti-splash {
  z-index: 0;
}

.winner-box {
  position: absolute;
  width: 50%;
  z-index: 1;
}




@media screen and (max-width: 640px) {
  .login-link {
    font-size: 1.2rem;
  }
  .winner-box {
    width: 90%;
  }
}

/* @media screen and (max-width: 480px) {
  .login-link {
  }
}

@media screen and (max-width: 400px) {
  .login-link {
  }
} */