.page-bg {
  background-color: rgba(255, 255, 255, .8);
  padding: 10px;
}

/*  TILESMANAGE STYLES
//=======================================================*/

/* .list button {
  color: black;
  transition: box-shadow 1s;
}
.list button:hover {
  transition: box-shadow 1s;
} */
/* 
.approve-btn, .activate-btn.activate {
  background-color: lightgreen;
} */
/* 
.deny-btn, .activate-btn.deactivate {
  background-color: rgba(255, 0, 0, .6);
} */