/* TILE STYLES
//=======================================================*/

.tile {
  line-height: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.tile p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tile:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s;
}

.center {
  background-color: rgba(249, 137, 44, 0.8) !important;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
