/* TILE STYLES
//=======================================================*/


.tile {
  background-color: rgba(255,255,255,.8);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  height: 110px;
  line-height: 1;
  text-align: center;
  transition: box-shadow 1s;
  width: 100%;
  z-index: 1;
}
.tile.center-tile {
  background-color: rgba(229, 107, 31, 0.8);
}


.tile:hover {
  background-color: rgba(252, 208, 44, 0.8);
  box-shadow: 10px 10px 10px rgba(228, 44, 106, 0.8);
  cursor: pointer;
  transition: box-shadow 1s;
}




@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}



@media screen and (max-width: 768px) {
  .tile {
    height: 125px;
    margin: 5px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 480px) {
  .tile {
    border-radius: 2px;
    height: 75px;
    font-size: .7em;
  }
}

@media screen and (max-width: 400px) {
  .tile {
      border-radius: 2px;
      height: 54px;
      font-size: .65em;
  }
}